.search-field{
    width:100%;
}
.s-c{
    width:80%;
    margin:auto;
}

.btn-dec{
    background-color: rgb(255, 57, 17);
}

.proposal-count{

    font-weight: bold;
    font-size:16px;
    margin-bottom: 1em;

}
.prop-header{
    display: flex;
    justify-content: space-between;
}
.p-time{
    font-size:12px;
}
p{
    font-size:14px;
}
.span{
    font-weight: bold;
    font-size:15px;

    margin-right:.5em;

}
.prop-title, .location, .goal, .reco-accept-delete, .cost, .time-span{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: .5em;

}

.reco-accept-delete{
    margin-top:1.5em;
    display: flex;
    justify-content: space-between;

}
.recco{
    display: grid;
    grid-template-columns: 60% 50%;

}

.a-d-btns{
    display: flex;

}
.btn{
    margin-left:.5em;
}
.r-c-d{
    color:rgb(255, 59, 59);
}

.proposal-list{
    margin-bottom: 1.5em;
}